h2 {
    text-align:center;
    font-family: American Typewriter, serif;
    color: gray;
}
body {
    background-color: white;
    margin: 0;
    font-family: Gill Sans, sans-serif;
}

.navigation {
    overflow: hidden;
    background-color: #f3f3f3;
}
/* Navigation bar */
.navigation a {
    float: left;
    color: darkseagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* When mouse hovers over the button it highlights the word */
.navigation a:hover {
    color: orange;
}

/* Home Button */
.navigation a.active {
    color: seagreen;
}

/* Search icon */
.navigation b {
    float: right;
    color: darkseagreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}