h1 {
    text-align:left;
    color: black;
    font-family: 'Comfortaa', cursive;
}

/* Background colour and general font of web page */
body {
    background-color: white;
    margin: 0;
    font-family: 'Raleway', sans-serif;;
}
/* Navigation bar */

.navigation {
    overflow: hidden;
    background-color: dodgerblue;
}

.navigation a {
    float: left;
    color: ghostwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Home Button */
.navigation a.active {
    font-weight: bold;
    color: ghostwhite;
}