header{
    background-color: dodgerblue;
    padding: 8px 5px;
}

h1 {
    text-align:left;
    color: white;
    font-family: 'Comfortaa', cursive;
}

/* Background colour and general font of web page */
body {
    background-color: white;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color : ghostwhite;
}

.container {
    float :right;
    text-align: right;
    color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding : 0px 3px;
}

.container input[type=text] {
    width: 25%;
    padding: 5px 2px;
    margin: 5px 0px;
    box-sizing: border-box;
}

.container input[type=submit] {
    background-color: mediumblue;
    padding: 5px 15px;
    font-family: 'Raleway', sans-serif;
    color : ghostwhite;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.container input[type=submit]:hover {
    background-color: orange;
}

/* Navigation bar */

.navigation {
    overflow: hidden;
    background-color: dodgerblue;
    padding: 5px 5px;
}

.navigation a {
    float: left;
    color: ghostwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation b {
    float: right;
    color: ghostwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Home Button */
.navigation a.active {
    font-weight: bold;
    color: ghostwhite;
    font-size: 17px;
}

.dropdown {
    float: left;
    overflow: hidden;
    display: inline-block;
}

.dropdown .dropbutton {
    font-size: 17px;
    border: none;
    outline: none;
    color: ghostwhite;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: dodgerblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: darkorange;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Slideshow container */
.slideshow-container {
    max-width: 2000px;
    position: center;
    margin: auto;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.images {
    height: 200px;
    width: 175px;
    margin: 15px 33px;
    justify-items: center;
    display: inline-block;
}

.images img{
    height: 175px;
    width: 175px;
}

button {
    background-color: mediumblue;
    padding: 5px 15px;
    font-family: 'Raleway', sans-serif;
    color : ghostwhite;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

h3{
    color: white;
    font-family: 'Comfortaa', cursive;
}

footer{
    background-color: dodgerblue;
}

footer .column {
    float: left;
    width: 33%;
    padding: 0px;
    height: 250px;
    text-align: center;
}

/* Clear floats after the columns */
footer .row:after {
    content: "";
    display: table;
    clear: both;
}